.input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 16px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus {
  border-color: #4f46e5; /* blu indaco */
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.2);
}

.label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #333;
  font-size: 1rem;
  user-select: none;
}
.error{
    color: red;
    font-size: 20px;
    text-align: center;
}

.valid{
color: green;
    font-size: 20px;
    text-align: center;
}

.scrollTopBtn {
  position: fixed;
  padding: 10px;
  bottom: 20px;
  right: 20px;
  background-color: blue;
  color: white;
  border: none;
  width: 45px;
  height: 45px;
  font-size: 24px;
  cursor: pointer;

}


